body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #003f86;
}

.aurora {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  width: 100%;
  height: 500px;

  background-image: none;
}
