.messages {
    background-image: linear-gradient(#71d5f4, #337cd2);
}

.weather {
    background-image: linear-gradient(to bottom left, #ffe662, #ff792e);
}

.camera {
    background-image: linear-gradient(to right, #9a66ba, #f98edb);
}

.music {
    background-image: linear-gradient(to right bottom, #6ffc75, #4cb350);
}
