body {
  width: 490px;
  margin: 15px;
}

.cards-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 20px;
 }

.card {
  width: 110px;
  padding: 15px;
}
