html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 380px;
  min-height: 280px;
  padding: 10px;

  font-size: 14px;
  line-height: 1.4;
  font-family: "Arial", sans-serif;

  background-color: #ecf0f1;
}
