html,
body {
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: white;
  font-size: 18px;
  font-family: "Arial", sans-serif;
}

.btn {
  display: block;
  margin: 35px auto;
  padding: 15px 20px;
  width: 150px;
  border-radius: 5px;
  border: none;
  box-sizing: content-box;
  background-color: #bdc3c7;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font: inherit;
}

.btn1 {
}

.btn2 {
}

.btn3 {
}
