html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 280px;
  min-height: 280px;
  padding: 10px;

  font-size: 14px;
  line-height: 1.4;
  font-family: "Arial", sans-serif;

  background-color: #ecf0f1;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-menu { 
  width: 200px;
}

.main-menu > li > a {
  display: block;
  padding: 10px 15px;
  background-color: #2980b9;
  border-bottom: 2px solid #2c3e50;   
  color: white;
  text-decoration: none;    
}

.main-menu > li > ul {
  padding: 15px;
  background-color: #fff; 
  border-bottom: 2px solid #2c3e50;     
}

.main-menu > li li:not(:last-child) {
  margin-bottom: 10px;  
}

.main-menu ul a {
  color: #2980b9;
}

.main-menu .active > a {
  background-color: #1abc9c;
}
