body {
    width: 550px;
    height: 400px;
    margin: 0;
    padding: 0;
}

.map {
    width: 400px;
    height: 200px;
    margin: 0 auto;
}

.map img {
    float: left;
    margin: 0;
    padding: 0;
}