.task {
    &__header {
        position: relative;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 100px;
        border-bottom: 1px solid black;
    }

    &__nav {
        flex-grow: 1;
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        max-width: 500px;
    }

    &__header-logo {
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100px;
        padding: 5px 10px;
        box-sizing: border-box;
        transform: translateY(-50%);
    }

    &__article-btn {
        font-size: 20px;
        position: absolute;
        top: 50%;
        right: 0;
        box-sizing: border-box;
        transform: translateY(-50%);
    }

    &__task-link {
        text-decoration: none;
        font-weight: bold;
        display: inline-block;
        width: 30px;
        height: 100%;
        background-color: lightgray;
        display: flex;
        align-items: center;
        justify-content: center;

        &--active {
            background-color: green;
            color: white;
        }
    }

    &__heading {
        margin: 0;
        font-size: 16px;
        flex-grow: 1;
        text-align: center;
    }

    &__wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__heading {
        margin: 10px 0;
    }

    &__content {
        flex-shrink: 1;
        flex-grow: 1;
    }

    &__workdesk {
        height: 100%;
    }

    &__footer {
        height: 40px;
        border-top: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}