.block {
    background-color: rgba(0, 255, 255, 0.2);
  }
  
  .block-1 {
    border: 20px solid white;
    padding: 20px;
  }
  
  .block-2 {
    margin: 20px;
    padding: 20px;
  }
  
  .text-input {
    box-sizing: border-box;
  }
  