.markdown-container {
    line-height: 1.4;
    
    code, pre {
        white-space: pre-wrap;
        background-color: #eee;
        border-radius: 3px;
        padding: 0 5px;
        border: 1px solid #ccc;
    }

    code {
        font-size: 0.8em;
    }

    pre {
        padding: 10px 15px;
        margin: 10px 20px;
    }

    pre code {
        background-color: transparent;
        border-radius: 0;
        padding: 0;
        border: none;
    }

    img {
        max-width: 100%;
    }

    .browser-view {
        padding: 24px 32px;
        border: 2px solid #d8d7e4;
        border-top-width: 25px;
        border-radius: 8px;
    }

    li {
        padding: 5px 0;
    }
}