.bubbles {
  animation-name: blink;
  animation-duration: 2s;
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}

@keyframes reaction {
  0% {
    background-color: #01ff70;
  }

  100% {
    background-color: #ff4136;
  }
}
