#debug-screenshots {
  display: none;
  // height: 100vh;
}

body {
  font-family: "Arial",sans-serif;
}

.app {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;
  align-items: stretch;

  &__header {
    height: 40px;
  }

  &__content {
    height: 0;
    flex-grow: 1;
  }
}
